$BODY_COLOR: #eeeeee;
$PRIMARY_MAIN_COLOR: #02336b;
$PRIMARY_LIGHT_COLOR: #6542e6;
$PRIMARY_DARK_COLOR: #154c79;
$SECONDARY_MAIN_COLOR: #9c27b0;
$SECONDARY_LIGHT_COLOR: #ba68c8;
$SECONDARY_DARK_COLOR: #7b1fa2;
$SUCCESS_MAIN_COLOR: #2e7d32;
$SUCCESS_LIGHT_COLOR: #4caf50;
$SUCCESS_DARK_COLOR: #1b5e20;
$ERROR_MAIN_COLOR: #732f2f;
$ERROR_LIGHT_COLOR: #ef5350;
$ERROR_DARK_COLOR: #c62828;
$WARNING_MAIN_COLOR: #ed6c02;
$WARNING_LIGHT_COLOR: #ff9800;
$WARNING_DARK_COLOR: #e65100;
$DARK_COLOR: #000000;
$DARK_LIGHT_COLOR: #3d4152;
$DARK_BLUE_COLOR: #171a29;
$LIGHT_COLOR: #fff;
$LIGHT_GREY_COLOR: #686b78;
